<div *ngFor="let displayLevelObject of displayLevelObjects" id="{{displayLevelObject.type}}_{{displayLevelObject.id}}" class="{{displayLevelObject.type}} levelObject" [ngStyle]="{'top': displayLevelObject.y, 'left': displayLevelObject.x, 'width': displayLevelObject.width, 'height': displayLevelObject.height}">
</div>

<!-- 
<div class="floor levelObject" style="top:128px;left:64px;width:64px;"></div>
<div class="floor levelObject" style="top:192px;left:192px;width:128px;"></div>

<div class="enemy levelObject" style="top:96px;left:160px;width:32px;height:32px;"></div> -->