.levelObject {    
    position:absolute;
}

.floor {        
    border-bottom: 2px solid black;
}

.enemy {
    background-color:red;
}

.player {
    background-color: green;
}

.gameBorder {
    position:absolute; 
    left:32px;
    border: 2px solid blue;
    width: 1024px;
    height: 640px;
}