.levelObject {    
    position:absolute;
}

.floor {        
    border-bottom: 2px solid black;
}

.enemy {
    top:96px;
    left:160px;
    width:32px;
    height:32px;
    background-color:blue;
    border: 2px solid blue;
}